/************************************************\
==================================================
1. Font
2. Navbar
3. Body
4. Footer
5. Form
6. Map
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/
@font-face {
    font-family: 'Folkard';
    src: url('../fonts/folkard_.ttf');
}

.kaamelott-font {
    font-family: 'Folkard';
}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

.navbar-header {
    height: 100px !important;
}

nav img {
    position: absolute;
    margin-top: 5px;
}

.btn-stalkme {
    background-color: #ffcc33;
    color: white;
    margin-top: 24px;
}

/************************************************\
==================================================
3. Body
==================================================
\************************************************/


.birthday_title {
    font-size: 50px;
    margin-bottom: 100px;
}

/************************************************\
==================================================
4. Footer
==================================================
\************************************************/

footer p{
    text-align: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/************************************************\
==================================================
5. Form
==================================================
\************************************************/

.button1 {
    background-color: #ffcc33;
    color: white;
}

/************************************************\
==================================================
6. Map
==================================================
\************************************************/


#map {
    height: 75vh;
    border: solid, 5px, #ffcc33;
}
